<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/home.css">
    <title>Deliveryo - Home</title>
  </head>
  <body>
    <%- include('partials/header.ejs') -%>
    
    <div class="homeFirstDiv">
      <img src="images/home/firstDiv.png" alt="">
      <div class="overlayText">Your Centered Text Here</div>
    </div>
  </body>
</html>