@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal overflow */
  background-color: black;
  color: whitesmoke;
}

.homeFirstDiv{
    width: 100%;
    position: relative;
    text-align: center;
}

.homeFirstDiv img{
    width: 100%;
}

.homeFirstDiv img {
    width: 100%;
    height: auto;
}

.overlayText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2rem;
    font-weight: bold;
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); */
  }
  
  .overlayText a{
    text-decoration: none;
    color: white;
  }

  .overlayText a:hover{
    color: black;
  }